$text-color: #7a7f88;
$line-color: #c8c8c8;
$title-color: #08b7f8;
$more-btn: #da3300;
$more-btn-hover: #222222;
$hover-link: #da3300;
$title-link: #da3300;
$statuss-bar: #08b7f8;
$statuss-bar-bg: #eeeeee;
$black: #212529;
$title: #323232;
$link-box: #44a8da;
$white: #ffff;
$facebook: #3b5998;
$twitter: #1da1f2;
$google-plus: #dd4b39;
$linkedin: #0077b5;